<div class='box-login'>
    <form >
        <a [routerLink]="['/']">__</a>
        <h1>Entrar</h1>
        <label htmlFor="">E-mail</label>
        <input type="text"/>
        <label htmlFor="">Senha</label>
        <input type="password" />
        <div class='box-btn'>
            <button [routerLink]="['/dashboard']">Entrar</button>
            <button>Entrar com google</button>
            <a [routerLink]="['/register']">Não tenho conta</a>
        </div>
    </form>
    <div class='border-footer'> </div>
</div>