<div class='box-login'>
    <form [formGroup]="loginForm">
        <a [routerLink]="['/']">__</a>
        <h1>Entrar</h1>
        <label>E-mail</label>
        <input formControlName="email" type="text"/>
        <label>Senha</label>
        <input formControlName="password" type="password" />
        <div class='box-btn'>
            <button (click)="getLogin()" [routerLink]="['/dashboard']">Entrar</button>
            <button>Entrar com google</button>
            <a [routerLink]="['/register']">Não tenho conta</a>
        </div>
    </form>
    <div class='border-footer'> </div>
</div>