.dashHome {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    max-width: 400px;
}
.head h1{
    font-size: 1.1em;
    margin-bottom: 1em;
}
h2{
    text-align: left;
    color: var(--primary1);
    font-size: .9em;
    font-weight: 600;
    padding-left: 5px;
}
.head{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search-box {    
    position: relative;
    width: 0;
    display: flex;
    border-radius: 15px;
    padding: 5px 15px;
}
.icon svg{
    position: absolute;
    width: 2em;
    height: 1.5em;
    right: -15px;
    top: -15px;
}
.input-search{
    z-index: 1;
    width: 0;
    position: absolute;
    top: -15px;
    left: 17px;
    background: none;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.input-search:focus {
    width: 180px;
    left: -180px;
    border-bottom: 1px solid rgb(155, 155, 155);
    background-color: white;
}
.box-task {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1em;
}
.task{
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}
.check{
    background: none;    
    height: 1.5em;
    width: 1.5em;
}
h5{
    font-weight: 500;
    font-size: .7em;
}
p{
    font-size: .5em;
    color: rgb(85, 84, 84);
}
.all-span{
    text-align: end;
    font-size: .6em;
}
.scroll{
    max-width: 390px;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    overflow-x: auto;
}
.scroll::-webkit-scrollbar{
    display: none;
}
.box-progress .all-span{
    float: right;
}
.completed{
    margin-top: .8em;
}
.task{
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}
.check{
    background: none;    
    height: 1.5em;
    width: 1.5em;
}
.box-completed{
    text-align: left;
    background: var(--secundary3);
    margin-bottom: 0.5em;
}
.box-completed p{
    margin-bottom: 2px;
}
.box-completed h5{
    color: black;
    font-weight: 400;
}
h5{
    font-weight: 500;
    font-size: .7em;
}
p{
    font-size: .5em;
    color: rgb(85, 84, 84);
}

.percent{
    cursor: pointer;
    text-align: left;
    position: relative;
    width: 90px;
    height: 75px;
    border-radius: 5px;
    padding: 10px;
}
.percent h5{
    font-weight: 500;
    color: rgb(241, 241, 241);
}
.percent::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border-radius: inherit;
    z-index: -1;
}
.type1{
    background-color: var(--secundary1);
}
.type2{
    background-color: var(--secundary2);
}
.type3{
    background-color: var(--primary2);
}