<div class='box-register'>            
    <form [formGroup]="registerForm" >
        <a [routerLink]="['/']">__</a>
        <h1>Cadastrar</h1>
        <label >Nome</label>
        <input formControlName="name" type="text" />
        <label >E-mail</label>
        <input formControlName="email" type="text" />
        <label >Senha</label>
        <input formControlName="password" type="password"/>
        <label >Repetir senha</label>
        <input formControlName="repassword" type="password" />
        <div class='box-btn'>
            <button (click)="getRegister()" [routerLink]="['/login']">
                Cadastrar 
            </button>
            <button>Continuar com Google</button>
            <a [routerLink]="['/wellcome/login']">já tenho conta</a>
        </div>
    </form>
    <div class='border-footer'> </div>

</div>