<div class='box-register'>            
    <form >
        <a [routerLink]="['/']">__</a>
        <h1>Cadastrar</h1>
        <label htmlFor="">Nome</label>
        <input type="text" />
        <label htmlFor="">E-mail</label>
        <input type="text" />
        <label htmlFor="">Senha</label>
        <input type="password"/>
        <label htmlFor="">Repetir senha</label>
        <input type="password" />
        <div class='box-btn'>
            <button type='submit'>
                Cadastrar 
            </button>
            <button>Continuar com Google</button>
            <a [routerLink]="['/wellcome/login']">já tenho conta</a>
        </div>
    </form>
    <div class='border-footer'> </div>

</div>