.box-register{
    width: 100vw;
    max-width: 400px;
    min-width: 130px;
    border-radius: 30px 30px 0 0;
    background-color: rgb(235, 244, 253);
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
form a{
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
}
.box-register h1{
    margin: .5em 0;
    color: var(--primary1);
}
form label{
    font-size: .7em;

}

@media (min-width: 400px)  {
    .box-register{
        margin-left: calc(50% - 200px);
    }
}